body {
    font-size: 18px;
    /* display: flex; */

    background-color: #e3ffe5;
    margin: 0px;
}

div.header {
    margin-bottom: 10px;
}

div.boxes {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}

div.header h1{
    text-align: center;
    /* color: white;  */
    /* background-color: #04724d83; */
    border-radius: 10px;

    width: 100%;
    margin: auto;
}

div.box{
    width: 50%;
    /* background-color: #88888871; */
    border-radius: 10px;
    margin: 20px;
}

#table-input{

    width: 90%;
    margin: 10px;
}

div.sort-type-box{
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.reverse{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

textarea{
    width: 100%;
}

#SortAttrib{
    width: 100%;
}


